---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Golf Project" path="/projects/golf">
  <!-- https://developer.chrome.com/blog/web-audio-autoplay/ -->
  <script is:inline type="module">
    (function () {
      // An array of all contexts to resume on the page
      const audioContextList = [];

      // An array of various user interaction events we should listen for
      const userInputEventNames = [
        "click",
        "contextmenu",
        "auxclick",
        "dblclick",
        "mousedown",
        "mouseup",
        "pointerup",
        "touchend",
        "keydown",
        "keyup",
      ];

      // A proxy object to intercept AudioContexts and
      // add them to the array for tracking and resuming later
      self.AudioContext = new Proxy(self.AudioContext, {
        construct(target, args) {
          const result = new target(...args);
          audioContextList.push(result);
          return result;
        },
      });

      // To resume all AudioContexts being tracked
      function resumeAllContexts(event) {
        let count = 0;

        audioContextList.forEach((context) => {
          if (context.state !== "running") {
            context.resume();
          } else {
            count++;
          }
        });

        // If all the AudioContexts have now resumed then we
        // unbind all the event listeners from the page to prevent
        // unnecessary resume attempts
        if (count == audioContextList.length) {
          userInputEventNames.forEach((eventName) => {
            document.removeEventListener(eventName, resumeAllContexts);
          });
        }
      }

      // We bind the resume function for each user interaction
      // event on the page
      userInputEventNames.forEach((eventName) => {
        document.addEventListener(eventName, resumeAllContexts);
      });
    })();
  </script>
  <script>
    function unloadGame() {
      document.getElementById("golf-frame")?.remove();
    }

    function loadGame() {
      if (document.getElementById("golf-frame")) {
        return;
      }
      const newFrame = document.createElement("iframe");
      newFrame.id = "golf-frame";
      newFrame.src = "/golf/index.html";
      document.body.appendChild(newFrame);
    }

    window.addEventListener("astro:before-unload", unloadGame);
    window.addEventListener("astro:page-load", loadGame);
  </script>

  <div class="container flex content-between px-4 py-32">
    <p class="grow basis-0 p-4">
      The game is able to run thanks to WASM in the browser. If the game does
      not load try using Chrome or any other Chromium browser. Unfortunately,
      the game and audio might feel laggy since the wasm is restricted to a
      single thread.
    </p>
    <iframe
      id="golf-frame"
      src="/golf/index.html"
      width="720"
      height="1216"
      scrolling="no"></iframe>
    <p class="grow basis-0 p-4">
      Angry Birds style controls. Make sure you start a shot from roughly the
      middle of the game so that your cursor doesn't go out of bounds!
    </p>
  </div>
</Layout>
